html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* remember to define focus styles! */

:focus {
    outline: 0;
}

body {
    background: white;
    line-height: 1;
    color: black;
}

ol, ul {
    list-style: none;
}

/* tables still need cellspacing="0" in the markup */

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption, th, td {
    font-weight: normal;
    text-align: left;
}

/* remove possible quote marks (") from <q> & <blockquote> */

blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}

.one-paragraph {
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    border: 5px solid peru;
}

div {
    width: 100%;
    max-width: 400px;
    background-color: lightgrey;
    border: 15px solid green;
    padding: 50px;
    box-sizing: border-box;
}

#allen {
    padding: 10px;
    border: 5px solid orangered;
    background-color: orchid;
    box-sizing: border-box;
    font-size: 0.9rem;
}

h2 {
    font-weight: bold;
    font-size: 1.8rem;
}

section {
    min-height: 25vh;
    background-color: paleturquoise;
    display: inline;
}

.navigation ul li {
    display: inline-block;
    width: 200px;
    background-color: yellow;
}

img, #allen {
    width: 100%;
    max-width: 400px;
}

figure {
    position: relative;
    margin: 0;
    max-width: 400px;
    border: 2px solid tomato;
    box-sizing: border-box;
}

figcaption {
    position: absolute;
    bottom: 20px;
    font-size: 2rem;
    background-color: yellow;
    max-width: 400px;
    width: 100%;
    text-align: center;
    padding: 10px 0 10px;
}