html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* remember to define focus styles! */

:focus {
    outline: 0;
}

body {
    margin: auto;
    width: 100%;
    max-width: 800px;
    background: white;
    line-height: 1;
    color: black;
}

*/
/* tables still need cellspacing="0" in the markup */

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption, th, td {
    font-weight: normal;
    text-align: left;
}

/* remove possible quote marks (") from <q> & <blockquote> */

blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}

.section-main {
    position: sticky;
    top: 0;
    width: 100%;
    max-width: 800px;
    background-color: tomato;
}

.title {
    width: 100%;
    max-width: 800px;
    font-size: 3rem;
    text-align: center;
    background-color: violet;
    padding: 10px 0 10px;
}

.header-main {
    background-color: cadetblue;
    position: relative;
}

.nav-header {
    position: relative;
    background-color: chartreuse;
    display: block;
    text-align: center;
}

ul {
    list-style-type: none;
}

li {
    background-color: coral;
    border: 1px solid black;
    margin: 15px 15px;
    padding: 10px 5px 10px;
    font-size: 1.7rem;
    display: inline-block;
    text-align: center;
    border-radius: 15px;
}

.one-paragraph {
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
    border: 5px solid peru;
}

.container-section {
    width: 100%;
    max-width: 800px;
    background-color: coral;
    display: inline-block;
}

.div-section {
    width: 50%;
    max-width: 400px;
    /* background-color: cornflowerblue; */
    display: inline-block;
    text-align: center;
    margin: 4rem .5rem 1rem;
    box-sizing: border-box;
}

.div-section p {
    font-size: 1rem;
}

.float-left {
    width: 50%;
    max-width: 400px;
    display: inline-block;
    float: left;
}

.img-car {}

#allen {
    padding: 10px;
    border: 5px solid orangered;
    background-color: orchid;
    box-sizing: border-box;
    font-size: 0.9rem;
    margin: auto;
}

h2 {
    font-weight: bold;
    font-size: 1.8rem;
}

section {
    min-height: 25vh;
    background-color: paleturquoise;
    display: inline;
}

img, #allen {
    width: 100%;
    max-width: 400px;
}

figure {
    position: relative;
    margin: auto;
    max-width: 400px;
    border: 2px solid tomato;
    box-sizing: border-box;
}

figcaption {
    position: absolute;
    bottom: 20px;
    font-size: 2rem;
    background-color: yellow;
    max-width: 400px;
    width: 100%;
    text-align: center;
    padding: 10px 0 10px;
}